{% extends "chimere/base.html" %}
{% load i18n unlocalize_point chimere_tags %}
{% block extra_head %}
{% head_jquery %}
{% head_chimere %}
{% head_jme %}
{% head_form %}
<script src="{{ STATIC_URL }}chimere/js/jquery.chimere.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}saclay/js/SaclayCloud.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}saclay/js/jquery.form.js" type="text/javascript"></script>

<script type='text/javascript' language='javascript'>
    <!--
    var default_error_message = "{% trans "Error while loading the page... Refresh the page. If the problem persist contact the webmaster." %}";
    var edit_url = "{% url edit %}";
    var edit_event_url = "{% url edit-event %}";
    var edit_route_url = "{% url edit-route %}";
    // -->
</script>
<script src="{{ STATIC_URL }}saclay/js/interface.js" type="text/javascript"></script>
{{ block.super }}
{% endblock %}
{% block message_edit %}{% endblock %}
{% block sidebar %}
    <div class='sidebar-handler' id='sidebar-handler-hide'>
    </div>
    <div id='action-panel'>
        <ul id='map-actions' class='action'>
            <li id='action-categories' class='state-active'>
                <label>{% trans "Categories" %}</label>
            </li>{% if itinerary_form %}
            <li id='action-routing'>
                <label>{% trans "Routing" %}</label>
            </li>{% endif %}
        </ul>
        <ul id='edit-actions' class='action'>
            <li id='action-edit-marker' class='state-active'>
                <label>{% trans "Location" %}</label>
            </li>
            <li id='action-edit-route'>
                <label>{% trans "Wander" %}</label>
            </li>
            <li id='action-edit-event'>
                <label>{% trans "Event" %}</label>
            </li>
        </ul>
    </div>
    <div id='panel'>
        <div id='map-panel'>
            <form action='.' method='post' name='frm_categories' id='frm_categories'>
                <div id='categories'>{# dynamic content #}
                </div>
            </form>
            {% routing %}
        </div>
        <div id='edit-panel'>
            <div id='frm-edit-marker'>{# dynamic content #}
            </div>
            <div id='frm-edit-route'>{# dynamic content #}
            </div>
            <div id='frm-edit-event'>{# dynamic content #}
            </div>
        </div>
    </div>
    <div class='footer' id='footer-panel'>
        {% if contact_email %}<a href='mailto:{{contact_email}}' id='contactus'>{% trans "contact us" %}</a> | {% endif %}
        <a href='{% url chimere:extra_page '' 'legal' %}' id='page-legal' class='dyn-page'>{% trans "terms of service, credits" %}</a>
    </div>
{% endblock %}
{% block content %}
    <div id='category_description'>
    </div>
    <script type='text/javascript'>
    $(function(){
        $('#category_description').dialog({'autoOpen':false, width:630,
                                           'dialogClass':'no-titlebar'});
    });
    </script>
    <div class='sidebar-handler' id='sidebar-handler-show'>
    </div>
    <div id='detail' class='ui-widget ui-corner-all'></div>
    {% if not itinerary_form %}<div class='map_button'>
        <a href='#' id='button-move-map' class='toggle-button toggle-button-active' onclick='toggleDrawOff();return false;'>
            {% trans "Move on the map" %}
        </a>
        <a href='#' id='button-draw-map' class='toggle-button toggle-button-inactive' onclick='toggleDrawOn();return false;'>
            {% trans "Draw" %}
        </a>
    </div>{% endif %}
    <div id='permalink'></div>
    {% if simple %}
        {% display_welcome 0 %}
    {%else%}
        {% display_welcome news_visible %}
    {% endif %}
    {% display_news news_visible %}
    {{ block.super }}
    <div id='map-shadow'></div>
    <div id='default-message'></div>
<script type="text/javascript">
   <!--
   $("#main-map").show();
   // -->
</script>
    {% map_menu %}
    {% map 'main-map' %}
    <div id='chimere_message'></div>
    <script type='text/javascript'>
    $(function(){$('#chimere_message').dialog({'autoOpen':false,
                      dialogClass:'no-titlebar-simple', position:'right bottom',
                      resizable: false});});
    </script>
{% endblock %}
{% block footer %}
    <p class='map-footer'>{% include "chimere/blocks/footer.html" %}</p>
{% endblock %}
