#edit-panel,
#chimere_itinerary_form, #chimere_itinerary_action,
#panel #categories,
.sidebar-handler, #footer-panel, #action-panel
{
    display:none;

}

#chimere_itinerary div#chimere_itinerary_content{
    height:auto;
    max-height:none;
    overflow:visible;
    font-size:1.5em;
}

#chimere_itinerary h4,
#chimere_itinerary .itinerary_label{
    font-size:1.5em;
}
