/*
 * Font colors
 */

/* main */
html, h1, h2,
.action li, .ui-dialog .ui-dialog-titlebar,
#layer_selection h4,
#chimere_itinerary_content div.s{
    color:#444;
}

/* light */
h2, .cloud h4, #layer_selection, #layer_selection h4, #permalink a,
#chimere_itinerary_panel label, .ui-menu .ui-menu-item a, #submited-window,
#welcome .footer a, label, .map_button a, #marker_hover_content, .notice{
    color:#929288;
}

/* light darker*/
#layer_selection li.head{
    color:#a7a799
}

/* activated */
#detail_footer, #detail_footer a, #chimere_itinerary h4,
h3.warn, .itinerary_label.itinerary_start, .itinerary_label.itinerary_end,
.action li.ui-state-active{
    color:#fff;
}
/* blue*/
.itinerary_label{
    color:#6f8196;
}

/* strong */

.welcome-dialog h2, .edit h3, h3, h4, legend{
    color:#000;
}

a, a:link, a:visited,
#footer .map-footer a, #footer .map-footer a:link,
#footer .map-footer a:visited,
#welcome .footer,
caption{
    color:#9da1a1;
}

/* alternat link */
.read_more,
.read_less{
    color:#a1a18b;
}

/* links */
a, a:link, a:visited,
#footer .map-footer a, #footer .map-footer a:link,
#footer .map-footer a:visited,
#welcome .footer,
caption{
    text-decoration:none;
    font-weight:bold;
    font-size:0.9em;
}

#detail_footer,
#detail_footer a{
    text-decoration:none;
    text-transform:uppercase;
    font-weight:normal;
    font-size:0.9em;
}

/*
 * Background colors
 */

/* default */
body, #content,
#sidebar,
.action li.ui-button,
#detail_content
{
    background-color:#eee;
}

/* alternative background */
#layer_selection #layer_list li.head,
.welcome-dialog h2, #footer-panel,
ul#multimedia_list_content li, #welcome .footer,
#action{
    background-color:#d6d6c4;
}

#detail_footer{
    background-color:#9f9f89;
}


/* lighter */
a#ui-active-menuitem.ui-state-hover,
#chimere_itinerary_panel input[type=text]{
    background-color:#f0f0e9;
}

.read_more,
.read_less{
    background-color:#c1c1b0;
}

/* blue */
#chimere_itinerary h4{
    background-color:#6f8196;
}

/* light blue */
#chimere_itinerary_content div.s,
.itinerary_label{
    background-color:#dfe8f3;
}

/* green */
.itinerary_label.itinerary_start{
    background-color:#73a44b;
}

/* red */
h3.warn,
.itinerary_label.itinerary_end{
    background-color:#a53f3f;
}

/* light pink */
div.warning, .errorlist{
    background-color:#fed;
}

/* blank */
#edit-panel, #permalink,
#layer_selection h4, #chimere_itinerary_content div.n,
.edit h4{
    background-color:#fff;
}

h2, h3{
    background:none;
}

/*
 * Borders
 */
#layer_selection h4, ul#multimedia_list_content li, #layer_selection #layer_list,
#layer_selection #layer_list li, .itinerary_label .label, #footer-panel,
#detail_footer, #areas, #detail, #main-map, div.warning, #content,
.action li.selected, #content .olControlLayerSwitcher .layersDiv, #panel,
#map-footer, #utils-div, #action, #panel #categories, .main_category,
#page_title, #ul_categories .subcategories li, #action-panel,
ul.ui-autocomplete.ui-menu.ui-corner-all.ui-widget-content, .extra-criteria,
#chimere_itinerary_form, .welcome-logo, #permalink, #footer-panel{
    border-color:#999;
}

#id_transport_it span{
    border-color:#AAA;
}
/*
 * Images
 */

.action li{
    background:none;
}

/*
 * Opacity
 */

#chimere_itinerary_panel,
div#panel{
    opacity:1;
}

/*
 * Position, size, ...
 */

html, body{
    height:100%;
    overflow:hidden;
}

.ui-button,
.action li{
    padding:2px 18px;
}

h4{
    font-weight:bold;
}

hr.clean{
    display:none;
}

label{
    font-weight:bold;
    font-size:0.9em;
}

h3.warn{
    padding:0.3em;
    margin:0;
}

#permalink{
    position:absolute;
    z-index:20;
    right:280px;
    top:36px;
    width:auto;
    border-width:1px;
    border-style:solid;
    padding:2px 12px;
}

#permalink a{
    font-weight:normal;
}

/* no title bar dialog */
.no-titlebar.ui-dialog,
.no-titlebar-simple.ui-dialog,
.no-titlebar-small.ui-dialog,
.welcome-dialog.ui-dialog{
    padding:0;
    margin:0;
}

.no-titlebar-simple.ui-dialog .ui-dialog-content{
    padding:0;
}

.no-titlebar-simple.ui-dialog .ui-dialog-content p{
    padding:0.5em 1em;
}

.no-titlebar.ui-dialog .ui-dialog-titlebar,
.no-titlebar-simple.ui-dialog .ui-dialog-titlebar,
.no-titlebar-small.ui-dialog .ui-dialog-titlebar,
.welcome-dialog.ui-dialog .ui-dialog-titlebar{
    background:none;
    padding:0;
    height:22px;
    position:absolute;
    z-index:100;
    border:none;
    color:transparent;
    font-size:0;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
}

.no-titlebar-simple.ui-dialog .ui-dialog-titlebar{
    right:10px;
}

.welcome-dialog.ui-dialog .ui-dialog-titlebar-close{
    right:10px;
    width:30px;
    height:30px;
    top:5px;
    background-image: none;
    background-color: transparent;
    border: 0 solid;
}

.welcome-dialog.ui-dialog .ui-widget-header .ui-icon{
    background-image:url(../images/popup/welcome_close.png);
    background-position:0 0;
    width:30px;
    height:30px;
}

.welcome-dialog.ui-dialog .ui-dialog-titlebar{
    width:100%;
    height:84px;
}

.no-titlebar-small.ui-dialog .ui-dialog-titlebar{
    width:340px;
}

.no-titlebar.ui-dialog .ui-dialog-titlebar{
    width:630px;
}

.no-titlebar.ui-dialog .ui-dialog-titlebar-close,
.no-titlebar.ui-dialog .ui-dialog-titlebar-close.ui-state-hover,
.no-titlebar-small.ui-dialog .ui-dialog-titlebar-close,
.no-titlebar-small.ui-dialog .ui-dialog-titlebar-close.ui-state-hover{
    background-image:url(../images/popup/close.png);
    background-position:center;
    width:100%;
    height:22px;
    position:absolute;
    top:0;
    left:0;
    margin:0;
    padding:0;
    border:none;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
}

.no-titlebar-small.ui-dialog .ui-dialog-title {
    margin:0;
    height:auto;
}

#submited-window .ui-dialog-title {
    height:65px;
}

.no-titlebar-simple.ui-dialog .ui-dialog-titlebar-close .ui-icon{
    float:right;
}

.no-titlebar.ui-dialog .ui-dialog-titlebar-close .ui-icon,
.no-titlebar-small.ui-dialog .ui-dialog-titlebar-close .ui-icon{
    display:none;
}

#cluster_list .dialog-content{
    overflow: auto;
    max-height: 380px;
}

#welcome{
    opacity:1;
    padding:0;
}

.welcome-dialog .title{
    margin:0;
    text-align:left;
    height:10px;
}

.welcome-dialog .title h2{
    display:none;
}

.welcome-dialog h3, .welcome-dialog h4{
    padding:0 1em;
}

.ui-dialog.ui-widget{
    font-size:0.9em;
    padding:0;
    margin:0;
}

.welcome-dialog p{
    padding:0;
    margin:0;
}

.no-titlebar-small .ui-dialog-content.ui-widget-content{
    margin-top:22px;
}

.welcome-dialog .ui-dialog-content.ui-widget-content,
.no-titlebar .ui-dialog-content.ui-widget-content,
.no-titlebar-small .ui-dialog-content.ui-widget-content{
    position:static;
}

.no-titlebar .ui-dialog-content.ui-widget-content{
    background-image:url(../images/popup/title_frame.png);
    background-repeat:repeat-x;
    margin-top:22px;
}
.no-titlebar .ui-dialog-content.ui-widget-content h2{
    margin:2px 0 12px 0;
    text-transform:uppercase;
}

.dialog-content{
}

.news,
.dialog-content .content{
    overflow:auto;
    padding:1em;
    max-height:400px;
}

#multimedia_form{
    background-image:url(../images/popup/multimedia_title.png) ;
    background-repeat:no-repeat;
    background-position: center top;
    padding-top:45px;
}

#multimedia_form input[type=text]{
    width:250px;
    border:1px solid #e0e0d8;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    background-color:#e0e0d8;
}

#submited-window{
    background-image:url(../images/popup/thanks_title.png) ;
    background-repeat:no-repeat;
    background-position: center top;
    padding-top:45px;
}

/* autocomplete theming */
ul.ui-autocomplete.ui-menu.ui-corner-all.ui-widget-content{
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    font-weight:normal;
    padding:0;
}

.ui-menu .ui-menu-item a{
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    font-weight:normal;
}

a#ui-active-menuitem.ui-state-hover{
    background-image:none;
}

#logos{
    width:340px;
    margin-left:auto;
    margin-right:auto;
}

#welcome_message{
    padding:1em;
    margin:0;
    /* float:left;
    width:334px; */
}

#welcome_content{
    height:145px;
    overflow:auto;
    margin-bottom:1em;
}

.welcome-col{
    padding:1em;
    margin:0;
    float:left;
    width:430px;
}

.no-titlebar .footer{
    padding:0.3em 1em;
    font-size:0.9em;
}

.welcome-logo{
    border-top:1px solid;
}

#welcome .news{
    height:298px;
    overflow:auto;
    padding:10px
}

#welcome .footer{
    height:12px;
    padding:5px 30px;
    text-align:right;
    text-transform:uppercase;
    background-image:url(../images/plus.png);
    background-repeat:no-repeat;
    background-position:420px;
}

#welcome .footer a{
    font-size:12px;
}

.info{
    border:none;
    padding:0;
}

/* edition */

.fieldWrapper{
    padding:2px 7px;
}

.edit label.error{
    display:none;
}

.edit .error label.error{
    display:block;
}

.edit h3{
    text-align:left;
    font-size:1.4em;
    width:100%;
    border-bottom:1px solid;
    padding:0 0 0.4em 0;
    margin:0;
}

.edit h4{
    padding:1em 0;
    border-top:1px solid;
    border-bottom:1px solid;
    width:100%;
    cursor:pointer;
    margin-top:0.5em;
}

.edit .minified{
    background-image:url(../images/plus_on.png) ;
    background-repeat:no-repeat;
    background-position: 95% center;
}

.edit .maximized{
    background-image:url(../images/minus_on.png) ;
    background-repeat:no-repeat;
    background-position: 95% center;
}

.notice{
    padding:0.4em;
    font-size:0.8em;
    margin:0;
}

.remove-media{
    cursor:pointer;
}

#chimere_map_menu{
    padding:0;
}

#chimere_map_menu li{
    padding-left:20px;
    background-position:0 center;
    background-repeat:no-repeat;
}

#marker_hover_content{
    border-color:#c1c1b0;
    border-bottom-width:0;
    margin-bottom:11px;
}

#marker_hover{
    background-image:url("../images/bottom-arrow.png");
}

#map_menu_from{
    background-image:url("../images/menu/icon_from.png");
}

#map_menu_to{
    background-image:url("../images/menu/icon_to.png");
}

#map_menu_step{
    background-image:url("../images/menu/icon_add.png");
}

#map_menu_zoomin{
    background-image:url("../images/menu/icon_plus.png");
}

#map_menu_zoomout{
    background-image:url("../images/menu/icon_minus.png");
}

#map_menu_center{
    background-image:url("../images/menu/icon_center.png");
}

.simple #permalink{
    display:none;
}

.simple #layer_selection{
    top:10px;
    right:10px;
}

.simple #main-map .olControlPanPanel .olControlPanNorthItemInactive,
.simple #main-map .olControlPanPanel .olControlPanWestItemInactive,
.simple #main-map .olControlPanPanel .olControlPanEastItemInactive,
.simple #main-map .olControlPanPanel .olControlPanSouthItemInactive {
    position: absolute;
    height:20px;
}

.simple #main-map .olControlPanPanel .olControlPanNorthItemInactive {
    right:-50px;
}

.simple #main-map .olControlPanPanel .olControlPanEastItemInactive,
.simple #main-map .olControlPanPanel .olControlPanWestItemInactive {
    height:20px;
    top:18px;
}

.simple #main-map .olControlPanPanel .olControlPanEastItemInactive{
    right:-50px;
}

.simple #main-map .olControlPanPanel .olControlPanWestItemInactive {
    right:-25px;
}

.simple #main-map .olControlPanPanel .olControlPanSouthItemInactive {
    right:-50px;
    top:36px;
    height:30px;
}

.simple #sidebar{
    top:0;
}

.simple #panel{
    top:0;
    overflow:auto;
    overflow-x: hidden;
    height:100%;
}

.simple #panel #categories {
    display:block;
}

#content{
    border:none;
    padding:0;
}

#page_title{
    top:0;
    right:0;
    padding:0 30px;
    position:relative;
    border-bottom-width:1px;
    border-bottom-style:solid;
    background-color:#fff;
    display:none;
}

#page_title h1{
    text-align:right;
    padding:0;
    margin:0;
    font-size:40px;
    font-style:italic;
}

#page_title h2{
    text-align:right;
    padding:0;
    margin:0;
    font-style:italic;
    background-color:#fff;
}

#topbar{
    height:26px;
    padding:0;
    background-image:url('../images/background-top.png');
    background-repeat:repeat-x;
}

#header{
    padding:0;
    margin:0;
}

ul.action,
ul#action-2 {
    display:block;
    float: left;
    margin:0;
    padding:0;
}

#action-3 {
    float:right;
}

#action-3 li {
    padding:0;
}

#action-3.action li:hover{
    cursor:pointer;
    background-color:transparent;
    font-size:0;
}


ul.action li{
    display:block;
    float:left;
    margin:0;
    height:26px;
}

.action li:hover,
.action li label:hover{
    cursor:pointer;
}

ul#action{
    width:282px;
}

#panel #categories{
    clear:both;
    border-top-width:0;
    border-top-style:solid;
}

#action-panel .action li{
    padding:0;
    height:38px;
    width:138px;
    margin-top:22px;
}

.action li,
.action li a,
.action li label{
    padding:0;
    margin:0;
    font-size:1.1em;
    margin-top:10px;
    text-align:center;
    width:141px;
    display:block;
    text-transform:uppercase;
    color:transparent;
    font-size:0;
    border-width:0;
}

.action li label{
    width:130px;
}

#action-3.action li,
#action-3.action li a{
    width:86px;
}

.action li .share a{
    color:transparent;
    font-size:0;
}

#action-3.action li.share-list li,
#action-3.action li.share-list{
    width:auto;
}

#action-3.action li.share-list li.shared,
#action-3.action li.share-list li.shared a{
    width:26px;
    margin:1px 0;
}

.action li.print-page{
    background-image:url(../images/buttons/button-print-off.png) ;
    background-repeat:no-repeat;
}

.action li.print-page.state-active,
.action li.print-page:hover{
    background-image:url(../images/buttons/button-print-on.png) ;
    background-repeat:no-repeat;
}

.action li.share-icon.state-active,
.action li.share-icon:hover{
    background-image:url(../images/buttons/button-share-on.png) ;
    background-repeat:no-repeat;
}

.action li.share-icon{
    background-image:url(../images/buttons/button-share-off.png) ;
    background-repeat:no-repeat;
}

.action li.share-send.state-active,
.action li.share-send:hover{
    background-image:url(../images/buttons/button-send-on.png) ;
    background-repeat:no-repeat;
}

.action li.share-send{
    background-image:url(../images/buttons/button-send-off.png) ;
    background-repeat:no-repeat;
}

.action li.help-page.state-active,
.action li.help-page:hover{
    background-image:url(../images/buttons/button-help-on.png) ;
    background-repeat:no-repeat;
}

.action li.help-page{
    background-image:url(../images/buttons/button-help-off.png) ;
    background-repeat:no-repeat;
}

#action-carte{
    background-image:url(../images/button-map-off.png) ;
    background-repeat:no-repeat;
}

#action-carte.state-active,
#action-carte:hover{
    background-image:url(../images/button-map-on.png) ;
    background-repeat:no-repeat;
}

#action-participate{
    background-image:url(../images/button-participate-off.png) ;
    background-repeat:no-repeat;
}

#action-participate.state-active,
#action-participate:hover{
    background-image:url(../images/button-participate-on.png) ;
    background-repeat:no-repeat;
}

#action-news{
    background-image:url(../images/button-news-off.png) ;
    background-repeat:no-repeat;
}

#action-news.state-active,
#action-news:hover{
    background-image:url(../images/button-news-on.png) ;
    background-repeat:no-repeat;
}

#action-project{
    background-image:url(../images/button-project-off.png) ;
    background-repeat:no-repeat;
}

#action-project.state-active,
#action-project:hover{
    background-image:url(../images/button-project-on.png) ;
    background-repeat:no-repeat;
}

#action-categories{
    background-image:url(../images/button-cat-off.png) ;
    background-repeat:no-repeat;
    margin-right:6px;
}

#action-categories.state-active,
#action-categories:hover{
    background-image:url(../images/button-cat-on.png) ;
    background-repeat:no-repeat;
}

#action-routing{
    background-image:url(../images/button-route-off.png) ;
    background-repeat:no-repeat;
}

#action-routing.state-active,
#action-routing:hover{
    background-image:url(../images/button-route-on.png) ;
    background-repeat:no-repeat;
}


#action-categories.category-selected label{
    background-image:url(../images/check-active.png) ;
    background-repeat:no-repeat;
}

#action-categories.category-selected.state-active label,
#action-categories.category-selected:hover label{
    background-image:url(../images/check.png) ;
    background-repeat:no-repeat;
}

#action-categories.category-selected label{
    background-position:right center;
}

#action-edit-marker{
    background-image:url(../images/button-location-off.png) ;
    background-repeat:no-repeat;
}

#action-panel .action li#action-edit-marker{
    width:78px;
}

#action-edit-marker.state-active,
#action-edit-marker:hover{
    background-image:url(../images/button-location-on.png) ;
    background-repeat:no-repeat;
}

#action-panel .action li#action-edit-route{
    width:98px;
}

#action-edit-route{
    background-image:url(../images/button-wander-off.png) ;
    background-repeat:no-repeat;
}

#action-edit-route.state-active,
#action-edit-route:hover{
    background-image:url(../images/button-wander-on.png) ;
    background-repeat:no-repeat;
}

#action-panel .action li#action-edit-event{
    width:104px;
}

#action-edit-event{
    background-image:url(../images/button-event-off.png) ;
    background-repeat:no-repeat;
}

#action-edit-event.state-active,
#action-edit-event:hover{
    background-image:url(../images/button-event-on.png) ;
    background-repeat:no-repeat;
}


#main-map{
    top:26px;
    bottom:0;
    height:auto;
}

#layer_selection{
    top:40px;
    left:auto;
    right:90px;
}

#layer_selection h4{
    width:130px;
    padding:2px 20px;
    background-image:url('../images/display_option.png');
    background-repeat:no-repeat;
    text-align:left;
}

#layer_selection h4.opened{
    background-image:url('../images/display_option_open.png');
}

#layer_selection ul#layer_list{
    padding:0;
    width:170px;
    text-align:right;
}

#layer_selection ul#layer_list li.head{
    text-align:left;
}

#layer_selection ul#layer_list li{
    padding:2px 10px;
    border-bottom:1px solid;
}

#layer_selection ul#layer_list input{
    display:none;
}

#layer_selection ul#layer_list label:hover{
    cursor:pointer;
}

#layer_selection ul#layer_list li.selected{
    background-image:url('../images/check-small.png');
    background-position:left;
    background-repeat:no-repeat;
}

#edit-actions{
    display:none;
}

div#map-shadow{
    position:absolute;
    left:0;
    bottom:0;
    top:26px;
    width:15px;
    z-index:5;
}

div#map-shadow,
div#sidebar{
    background-color:transparent;
    background-image:url('../images/shadow.png');
    background-position:right;
    background-repeat:repeat-y;
}

div#sidebar{
    z-index:7;
    width:281px;
    top:26px;
    position:absolute;
    bottom:0;
    padding-right:15px;
}

div#action-panel{
    border-width:0;
    border-right-width:1px;
    border-style:solid;
    z-index:10;
    height:60px;
    width:282px;
    background-image:url(../images/background-small.png) ;
    background-repeat:repeat;
    background-position:center;
}

div#panel{
    position:absolute;
    width:281px;
    z-index:10;
    max-height:none;
    padding:0;
    right:auto;
    bottom:26px;
    top:60px;
    border-width:0 1px;
    background-image:url('../images/logo.jpg');
    background-repeat:repeat-x;
    background-position:left bottom;
    overflow-x:hidden;
}

/* share toolbar */

a.share_id_email_single{
    width:23px;
    overflow:hidden;
    background-image:url('../images/email.png');
    display:inline-block;
}
a.share_id_email_single{
    color:transparent;
    font-size:0;
}

#footer-panel{
    text-align:center;
    padding:3px;
    bottom:0;
    position:absolute;
    width:275px;
    height:22px;
    border-right:1px solid;
}

.sidebar-handler{
    height:55px;
    width:18px;
    position:absolute;
    background-position:left top;
}

#sidebar-handler-hide{
    bottom:102px;
    right:-4px;
    z-index:10;
    background-image:url('../images/handler-hide.png');
    background-repeat:no-repeat;
}

#sidebar-handler-show{
    bottom:102px;
    left:0px;
    z-index:6;
    background-image:url('../images/handler-show.png');
    background-repeat:no-repeat;
}

.sidebar-handler:hover{
    cursor:pointer;
}

div#panel #categories{
    width:auto;
}

ul#ul_categories{
    padding:0;
    width:auto;
}

#ul_categories li.main_category > span{
    display:block;
    height:40px;
    padding:0;
    margin:0;
}

#ul_categories li.main_category span{
    display:block;
}

#ul_categories li.main_category .subcategories li{
    padding:0;
    margin:0;
    overflow:hidden;
}

.toggle_category{
    margin-top:13px;
    margin-right:2px;
}

.control_image{
    visibility:hidden;
}

.map_button{
    display:none;
    z-index:20;
    top:40px;
    left:350px;
    position:absolute;
    background-color:#fff;
    padding:2px 20px;
    border:1px solid;
    border-color:#c1c1b0;
}

.main_category > span > label{
    display:block;
    width:242px;
    padding:0 20px;
    height:40px;
    line-height:40px;
    background-image:url('../images/plus.png');
    background-repeat:no-repeat;
    background-position:90% center;
    color:#fff;
}

.main_category > span.category-selected > label{
    background-image:url('../images/plus_on.png');
}

.main_category.toggle_minus > span > label{
    background-image:url('../images/minus.png');
}

.main_category.toggle_minus > span.category-selected > label{
    background-image:url('../images/minus_on.png');
}

#ul_categories .subcategories li label{
    width:274px;
    display:block;
    padding:5px 0 0 9px;
    height:21px;
    font-weight:bold;
    background-color:#fff;
}

#ul_categories .subcategories li .selected label{
    color:#fff;
}

#ul_categories .subcategories input{
    display:none;
}



/* itinéraire */

#id_transport.ui-buttonset{
    margin-right:0;
}

#id_transport_it span,
#id_transport.ui-buttonset label{
    width:122px;
    height:25px;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    margin-left:1px;
    color:transparent;
    font-size:0;
}
#id_transport_it span{
    margin-right:-3px;

}
#id_start_div, #id_end_div{
    padding:0 8px;
}

#id_transport_it{
    margin:7px 0;
}

#id_transport_it span{
    display:inline-block;
    border-width:1px;
    border-style:solid;
}

#id_transport_it span#id_transport_it_foot,
label[for=id_transport_0]{
    background-image:url('../images/buttons/walk.png');
}

#id_transport_it span#id_transport_it_foot{
    display:none;
}

#id_transport_it span#id_transport_it_foot.selected,
label[for=id_transport_0]:hover,
label[for=id_transport_0][aria-pressed=true]{
    display:inline-block;
    background-image:url('../images/buttons/walk_on.png');
}

#id_transport_it span#id_transport_it_bicycle,
label[for=id_transport_1]{
    background-image:url('../images/buttons/bicycle.png');
}

#id_transport_it span#id_transport_it_bicycle{
    display:none;
}

#id_transport_it span#id_transport_it_bicycle.selected,
label[for=id_transport_1]:hover,
label[for=id_transport_1][aria-pressed=true]{
    display:inline-block;
    background-image:url('../images/buttons/bicycle_on.png');
}

#chimere_itinerary_panel input[type=text]{
    width:250px;
    border:none;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
}

#search_routing,
#id_start_div label[for=id_start],
#id_end_div label[for=id_end],
label.step_label,
#frm-edit-route label.step_label{
    width:250px;
    height:25px;
    display:block;
    color:transparent;
    background-color:transparent;
    font-size:0;
    border:none;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
}

#step_link a{
    font-size:0.9em;
    padding:0 8px;
}

#id_start_div label.start_label,
#id_end_div label.end_label,
#chimere_itinerary_panel label.step_label{
    height:25px;
    width:200px;
    display:block;
    font-size:0;
}

#id_start_div label.start_label{
    background-image:url('../images/buttons/form_start.png');
}

#id_end_div label.end_label{
    background-image:url('../images/buttons/form_finish.png');
}

#chimere_itinerary_panel label.step_label{
    color:transparent;
    font-size:0;
}
label.step_label{
    background-image:url('../images/buttons/form_step.png');
}

#search_routing{
    padding:8px;
    background-image:url('../images/buttons/search.png');
}

#add_multimedia_list{
    color:transparent;
    font-size:0;
    width:100%;
    position:absolute;
    left:0;
}

ul#multimedia_list_content li{
    width:210px;
    margin:0 7px;
}

#head_multimedia{
    background-image:url('../images/buttons/add.png');
    background-repeat:no-repeat;
    background-position:right center;
}

.extra-criteria{
    border-width:1px;
    border-style:solid;
    width:264px;
}

.extra-criteria .extra-label{
    height:25px;
    color:transparent;
    font-size:0;
    background-image:url('../images/buttons/extra_criteria.png');
    background-repeat:no-repeat;
}

.extra-criteria.opened .extra-label{
    background-image:url('../images/buttons/extra_criteria-open.png');
}

.extra-criteria ul{
    list-style:none;
    padding:10px 0;
    margin:0;
    font-weight:bold;
    font-size:0.9em;
}

.extra-form{
    display:none;
}

/* itinerary */

.itinerary_label.itinerary_start,
.itinerary_label.itinerary_end,
#chimere_itinerary h4{
    line-height:18px;
    padding:2px 8px;
}
.itinerary_label.itinerary_start .contener,
.itinerary_label.itinerary_end .contener{
    overflow:auto;
    width:1000px;
    height:36px;
    display:block;
}
#chimere_start_label,
#chimere_end_label{
    height:22px;
    width:230px;
    padding:2px;
    display:block;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -moz-binding:url('bindings.xml#ellipsis');
}

.nominatim-label{
    overflow:hidden;
    height:2.6em;
}

.itinerary_label.itinerary_start .label,
.itinerary_label.itinerary_end .label,
#chimere_itinerary h4{
    text-transform:uppercase;
}

ul#roadmap_toolbar, ul#roadmap_toolbar li{
    padding:0;
}

ul#roadmap_toolbar a img{
    vertical-align:bottom;
}
ul#roadmap_toolbar{
    position:absolute;
    right:10px;
    top: 47px;
    margin: 0;
}

ul#roadmap_toolbar, ul#roadmap_toolbar ul, ul#roadmap_toolbar li{
    display:inline;
    list-style-type:none;
}

.itinerary_label{
    line-height:18px;
    font-style:normal;
    padding:0.5em;
    border-width:0;
    font-weight:bold;
}

.itinerary_label.itinerary_start,
.itinerary_label.itinerary_end{
}

.itinerary_label div.t{
    display:inline;
}

#chimere_itinerary{
    overflow:hidden;
}

#chimere_itinerary_panel{
    display:none;
    border-width:0;
    padding:0.5em;
}

#chimere_itinerary_form{
    padding:0.5em 0;
}

#chimere_itinerary_content{
    margin:0;
    height:auto;
    max-height:250px;
}

#chimere_itinerary_content span.j{
    display:none;
}

#chimere_itinerary_action ul{
    margin:0;
    padding:0;
}
#chimere_itinerary_action li{
    display:block;
    float:left;
    margin-top:5px;
}
#chimere_itinerary_action li a{
    height:24px;
    display:block;
    color:transparent;
    font-size:0;
}
#chimere_itinerary_modify{
    background-image:url('../images/buttons/modify.png');
    width:82px;
    margin-right:20px;
}
#chimere_itinerary_new{
    background-image:url('../images/buttons/new_search.png');
    width:160px;
}

#total_label_div{
    margin:0;
}

#chimere_total_label span.l,
#chimere_itinerary_content span.l{
    display:none;
}

#chimere_itinerary_content div.s{
    font-size:0.8em;
    padding:4px;
}

#chimere_itinerary_content div.n{
    font-size:0.9em;
    padding:4px;
}

#edit-panel label{
    font-size:0.9em;
}

#edit-panel h3,
#edit-panel h4,
#edit-panel .notice{
    margin:7px;
}

#edit-panel h3,
#edit-panel h4{
    text-transform:uppercase;
    color:#fff;
    font-weight:bold;
    font-size:12px;
    padding:5px;
    width:240px;
}

#frm-edit-marker h3,
#frm-edit-marker h4{
    background-color:#6f8196;
}

#frm-edit-route h3,
#frm-edit-route h4{
    background-color:#d38fac;
}

#frm-edit-event h3,
#frm-edit-event h4{
    background-color:#996998;
}

#frm-edit-marker label{
    font-weight:bold;
    color:#6f8196;
}

#frm-edit-route label{
    font-weight:bold;
    color:#d38fac;
}

#frm-edit-event label{
    font-weight:bold;
    color:#996998;
}

#frm-edit-marker textarea,
#frm-edit-marker input[type=text]{
    background-color:#dfe8f3;
    border:none;
}

#frm-edit-route textarea,
#frm-edit-route input[type=text]{
    background-color:#f5e4eb;
    border:none;
}

#frm-edit-event textarea,
#frm-edit-event input[type=text]{
    background-color:#f2e4f5;
    border:none;
}

input.hasDatepicker{
    background-image:url(../images/buttons/calendar.png) ;
    background-repeat:no-repeat;
    background-position:right;
    width:120px;
}

.ui-datepicker th{
    background-color:#996998;
}

#div_start_date{
    float:left;
}

#add_media,
#proposition_form_submit{
    width:100%;
    display:block;
    height:25px;
    color:transparent;
    font-size:0;
    background-image:url(../images/buttons/validate.png) ;
    background-repeat:no-repeat;
    background-position:center;
}

#add_media{
    margin:1em 0;
}

#proposition_form_submit:hover{
    cursor:pointer;
}

.cloud{
    width:351px;
    padding:0;
    margin:0;
}

.simple .cloud img {
    display: inline;
}

div.cloud h4{
    margin:0;
    padding:0.3em;
    font-size:1.2em;
    text-align:center;
    background-image:url(../images/popup/title_frame.png);
    background-repeat:repeat-x;
    background-position:center bottom;
}

.close_img{
    display:block;
    overflow:hidden;
    width:351px;
    height:22px;
    background-image:url(../images/popup/close.png);
    background-position:center;
}
a.close_img{
    color:transparent;
    font-size:0;
}

.read_more,
.read_less{
    margin:0;
    text-align:right;
    padding-right:25px;
    font-weight:bold;
    line-height:22px;
}

.read_more:hover,
.read_less:hover{
    cursor:pointer;
}

.read_less,
.read_more{
    background-position:330px 5px;
    background-repeat:no-repeat;
}
.read_more{
    background-image:url(../images/plus_alt.png);
}
.read_less{
    background-image:url(../images/minus_alt.png);
}

#detail_content{
    overflow:auto;
    max-height:300px;
    padding:0;
}

#detail_start_date,
#detail_end_date,
#detail_content .description{
    padding:0 1em;
}

#detail_footer{
    text-align:center;
    border-top-width:1px;
    border-top-style:solid;
}

.description_long, .read_less{
    display:none;
}

.small-gallery{
    width:auto;
    margin-top:0;
}

.small-gallery p.legend{
    line-height:22px;
}

.small-gallery .media-player{
    padding:0 1em;
}

#frm-edit-route, #frm-edit-event{
    display:none;
}

#panel textarea{
    height:100px;
    width:250px;
}

input#id_name{
    width:250px;
}

select#id_categories{
    max-width:240px;
}

#itinerary_field #id_transport_div,
#itinerary_field #id_speed_div,
#itinerary_field .extra-criteria
{
    display:none;
}

.single-line label{
    display:inline-block;
    width:95px;
    /*IE7*/
    zoom:1;
    *display:inline;
}

.single-line input{
    width:150px;
}

#main-map .olControlScaleLine {
    left:300px;
}

#main-map .olControlPanPanel{
    right:60px;
    left:auto;
}

#main-map .olControlZoomPanel{
    right:51px;
    left:auto;
}

#main-map .olControlPanPanel .olButton,
#main-map .olControlZoomPanel .olButton {
    background-image: url('../images/map_sprite.png');
}

#main-map .olControlPanPanel .olControlPanNorthItemInactive {
    background-position:-4px -2px;
    width:50px;
    height:23px;
    right:-50px;
    left:auto;
}

#main-map .olControlPanPanel .olControlPanWestItemInactive {
    width:25px;
    background-position:-4px -20px;
    right:-25px;
    left:auto;
}

#main-map .olControlPanPanel .olControlPanEastItemInactive {
    width:25px;
    background-position:-29px -20px;
    right:-50px;
    left:auto;
}

#main-map .olControlPanPanel .olControlPanSouthItemInactive {
    background-position:-4px -38px;
    width:50px;
    right:-50px;
    left:auto;
}

#main-map .olControlZoomPanel .olControlZoomInItemInactive {
    top:-8px;
    left:-9px;
    background-position:-4px -60px;
    width:50px;
    height:22px
}

#main-map .olControlZoomPanel .olControlZoomOutItemInactive {
    top:14px;
    left:-9px;
    background-position:-4px -130px;
    width:50px;
    height:35px;
}

#main-map .olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
    top:-40px;
    left:7px;
    background-position:-20px -23px;
    width:14px;
    height:16px;
    display:none;
}


/*
.olControlSimplePanZoom #slider,
.olControlSimplePanZoom #zoomin,
.olControlSimplePanZoom #zoomout,
.olControlSimplePanZoom #zoombar,
.olControlSimplePanZoom #panup,
.olControlSimplePanZoom #pandown {
    right:15px;
    left:auto;
}
.olControlSimplePanZoom #panright {
    right:14px;
    left:auto;
}

.olControlSimplePanZoom #panleft {
    right:39px;
    left:auto;
    background-position:-4px -17px;
    width:26px;
}

.olControlSimplePanZoom .button {
    background-image: url('../images/map_sprite.png');
}

.olControlSimplePanZoom #zoombar{
    width:50px;
    height:90px;
    background-position:-4px -75px;
}

.olControlSimplePanZoom #zoomin{
    width:50px;
    background-position:-4px -61px;
}
.olControlSimplePanZoom #pandown {
    width:50px;
    background-position:-4px -40px;
}
.olControlSimplePanZoom #panup{
    width:50px;
    background-position:-4px -5px;
}

.olControlSimplePanZoom #slider {
    width:50px;
    background-position:-60px -100px;
}
*/

#content .olControlLayerSwitcher .maximizeDiv,
#content .olControlLayerSwitcher .minimizeDiv {
    display:none;
}

#utils-div{
    left:auto;
    right:28px;
}

.properties{
    padding: 2px 1em;
}
.properties p{
    padding: 0;
    margin:0;
}

#waiting{
    top:0;
    height:100%;
    background-color:rgba(255, 255, 255, 0.4);
}

#waiting-content{
    margin-top:20%;
}

.main_category.toggle_plus > span > label,
.main_category.toggle_minus > span > label{
    text-transform:uppercase;
}

#ul_categories .subcategories li .selected label,
.main_category.toggle_plus > span > label,
.main_category.toggle_minus > span > label{
    background-color:#777;
}

#ul_categories .subcategories li label{
    color:#777;
}

#ul_categories .subcategories#maincategory_1 li .selected label,
#ul_categories .subcategories#maincategory_2 li .selected label,
#ul_categories .subcategories#maincategory_3 li .selected label,
#ul_categories .subcategories#maincategory_4 li .selected label,
#ul_categories .subcategories#maincategory_5 li .selected label,
#ul_categories .subcategories#maincategory_6 li .selected label,
#ul_categories .subcategories#maincategory_7 li .selected label,
#ul_categories .subcategories#maincategory_8 li .selected label {
    color:#fff;
}

#ul_categories .subcategories#maincategory_1 li .selected label,
.main_category.toggle_plus > span#main_category_1 > label,
.main_category.toggle_minus > span#main_category_1 > label{
    background-color:#cd5a5a;
}

#ul_categories .subcategories#maincategory_1 li label{
    color:#cd5a5a;
}

#ul_categories .subcategories#maincategory_2 li .selected label,
.main_category.toggle_plus > span#main_category_2 > label,
.main_category.toggle_minus > span#main_category_2 > label{
    background-color:#996998;
}

#ul_categories .subcategories#maincategory_2 label{
    color:#996998;
}

#ul_categories .subcategories#maincategory_3 li .selected label,
.main_category.toggle_plus > span#main_category_3 > label,
.main_category.toggle_minus > span#main_category_3 > label{
    background-color:#c49c86;
}

#ul_categories .subcategories#maincategory_3 label{
    color:#c49c86;
}

#ul_categories .subcategories#maincategory_4 li .selected label,
.main_category.toggle_plus > span#main_category_4 > label,
.main_category.toggle_minus > span#main_category_4 > label{
    background-color:#85ae7a;
}

#ul_categories .subcategories#maincategory_4 label{
    color:#85ae7a;
}

#ul_categories .subcategories#maincategory_5 li .selected label,
.main_category.toggle_plus > span#main_category_5 > label,
.main_category.toggle_minus > span#main_category_5 > label{
    background-color:#a8adad;
}

#ul_categories .subcategories#maincategory_5 label{
    color:#a8adad;
}

#ul_categories .subcategories#maincategory_6 li .selected label,
.main_category.toggle_plus > span#main_category_6 > label,
.main_category.toggle_minus > span#main_category_6 > label{
    background-color:#697c92;
}

#ul_categories .subcategories#maincategory_6 label{
    color:#697c92;
}

#ul_categories .subcategories#maincategory_7 li .selected label,
.main_category.toggle_plus > span#main_category_7 > label,
.main_category.toggle_minus > span#main_category_7 > label{
    background-color:#eba44a;
}

#ul_categories .subcategories#maincategory_7 label{
    color:#eba44a;
}

#ul_categories .subcategories#maincategory_8 li .selected label,
.main_category.toggle_plus > span#main_category_8 > label,
.main_category.toggle_minus > span#main_category_8 > label{
    background-color:#d38fac;
}

#ul_categories .subcategories#maincategory_8 label{
    color:#d38fac;
}

