/* CSS Document */

/* CSS Document */

@charset "iso-8859-1";
body {
font-family: arial;
font-size: 10px;
color: #000000;
margin: 0px;
padding: 0px;
background-color: #fff;

}

select#id_categories{
    max-width:240px;
}

#frm-response{
    display:none;
}

#new_body {
left: 50%;
margin-right: auto;
margin-left: -300px;
width: 599px;
height: auto;
background:#ffffff;
padding: 0px;
position: absolute	!important;	/* pour FF */
position: relative;	/* pour IE */
border-right:1px solid #adb3b8;
}

a img {border:0; margin:0px;
padding:0px;background:none;display: block; }
img {border:0; margin:0px;
padding:0px;background:none;display: block;}

#header {width:599px;height:500px;padding:0px;margin:0px;background-image: url(../img/header.png);}

#link {width:599px;height:30px;padding:0px;margin:0px;}
#link2 {width:599px;height:20px;padding:0px;margin:0px;}

#img {width:599px;height:auto;padding:0px;margin:0px;}

.box {
height:18px;
width:218px;
border: 0px #99B19A solid;
font-family:Arial, Helvetica, sans-serif;
color:#ffffff; 
background:#677B92;
font-weight:bold;
font-size: 11px;
padding: 2px;
margin-top:456px;
margin-left:189px;}

.ok {
    width:22px;
    height:22px;
    float:right;
    margin-right:160px;
    margin-top:456px;
}
.ok:hover{
   cursor:pointer;
}
