{% load i18n chimere_tags %}
    <div id="topbar">
        <ul id='action' class='action'>
            <li id='action-carte' class='state-active'>
                {% trans "Map" %}
            </li>
            <li id='action-participate'>
                {% trans "Participate" %}
            </li>
        </ul>
        <ul id='action-2' class='action'>
            <li id='action-news'>
                {% trans "News" %}
            </li>
            <li id='action-project' class='dyn-page'>
                <a href='{% url chimere:extra_page "" "project"%}'>{% trans "The project" %}</a>
            </li>
        </ul>
        <ul id='action-3' class='action'>
            <li class='print-page'><a href='#'>{% trans "Print"%}</a></li>
            <li class='share-list'>
            {% share_bar %}
            </li>
            {%comment%}<li class='help-page'><a href='#'>{% trans "Help"%}</a></li>{%endcomment%}
        </ul>
    </div>
