{% load i18n sanitize chimere_tags %}
<script type='text/javascript'>
<!--
$(function(){
    $('#news div.media-player').jmeEmbedControls();
    $('#news video').each(function(index){$(this).pause()});
    $('#news audio').each(function(index){$(this).pause()});
    $("#news").dialog({width:630, dialogClass:'no-titlebar',
                       autoOpen:false});
});
// -->
</script>
<div id='news' style='display:none'>
    <h2>{% trans "News" %}</h2>
    <div class='news'>
    {% if news_lst %}
        {% for news in news_lst %}
        <div class='info'>
        {% if news.title %}
            <h4>{{news.title}} &ndash; {{ news.date }}</h4>
            {{news.content|safe}}
        {% else %}
            <h4>{{news.name}} &ndash; {{ news.start_date }}{% if news.end_date %} - {{ news.end_date }}{% endif %}</h4>
            {% if news.description %}
            {{news.description|sanitize:"p b i br hr strong em span:style a:href:target ul li ol h1 h2 h3 h4 table td th tr"|safe}}
            {% endif %}
        {% endif %}
            <p class='marker_link'>
            {% if news.point %}
            <a href='{% get_tinyfied_url news area_name %}'>{% trans "See it on the map"%}</a>
            {% endif %}{% if news.point and news.url %} - {% endif %}{% if news.url %}
            <a href='{{news.url}}'>{% trans "Go to the event website"%}</a>
            {% endif %}
            </p>
        </div>
        {%endfor%}
    {% else %}
        <div class='info'>
            <em>{% trans "No news today."%}</em>
        </div>
    {% endif %}
    </div>
</div>

