{% load i18n chimere_tags %}
{% if routing %}
{{itinerary_form.media}}
<div id='chimere_itinerary_panel'>
    <div id='chimere_itinerary_form'>
        <p class='notice'>
Le formulaire ci-dessous permet le calcul de vos itinéraires entre différents points du plateau, en choisissant votre mode de déplacement « marche » ou « vélo ». Vous pouvez entrer une adresse soit sous forme de texte, soit en un clic sur la carte pour définir vos différents points d’étape. 
Nos informations sont actualisées aussi souvent que possible, mais nous ne pouvons garantir absolument l’état actuel des chemins ou voies empruntées (conditions climatiques, travaux, etc). L’utilisation de ces informations n’engage pas la responsabilité des auteurs de la carte. Vos choix d’itinéraires sont de votre responsabilité.
        </p>
    {% for hidden in itinerary_form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    <div id="id_transport_div">
    {{itinerary_form.transport}}
    </div>

    <div id='id_start_div'>
    <label class='start_label'>{{ itinerary_form.start.label }}</label>
    {{itinerary_form.start}}
    </div>

    <div id='id_end_div'>
    <label class='end_label'>{{ itinerary_form.end.label }}</label>
    {{itinerary_form.end}}
    </div>

    <div id='step_link'><a id='add_step_link' href='#'>{% trans "+ Add a step" %}</a></div>
    <span id='search_routing'>{% trans "Search" %}</span>

    <div class='extra-criteria'>
        <div class='extra-label'>{% trans "Extra criterias"%}</div>
        <div class='extra-form'>
        <div id='id_speed_div'>
        {{itinerary_form.speed}}
        </div>
        </div>
    </div>

    </div>
    <div id='chimere_itinerary'>
        <div id="id_transport_it">
        {% for transport_id, transport_label in routing_transport %}
            <span id='id_transport_it_{{transport_id}}'>{{transport_label}}</span>
        {% endfor %}
        </div>
        <h4>{% trans "Roadmap" %}</h4>
        <ul id='roadmap_toolbar'>
        <li><a href='#' class='print-page'><img src='{{STATIC_URL}}saclay/images/printer.png' alt='Printer'/></a></li>
        <li>
        {% share_bar False 1 %}
        </li>
        </ul>
        <div class='itinerary_label' id='total_label_div'>
           <span id='chimere_total_label'></span>
        </div>
        <div class='itinerary_label itinerary_start'>
            <div class='contener'>
            <span class='label start-label'>{% trans "Start"%}</span> <span id='chimere_start_label'></span>
            </div>
        </div>
        <div id='chimere_itinerary_content'>
        </div>
        <div class='itinerary_label itinerary_end'>
            <div class='contener'>
            <span class='label end-label'>{% trans "Finish"%}</span> <span id='chimere_end_label'></span>
            </div>
        </div>
        <div id='chimere_itinerary_action'>
            <ul>
                <li>
                    <a href='#' id='chimere_itinerary_modify'>{% trans "Modify" %}</a>
                </li>
                <li>
                    <a href='#' id='chimere_itinerary_new'>{% trans "New search" %}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script language='javascript' type='text/javascript'>
<!--
var step_label = "{% trans "Step" %}";
var routing_fail_message = "{{routing_fail_message|safe}}";
// -->
</script>
{% endif%}
