{% load i18n %}
    {% if share_networks %}
    {% if simple %}{% trans "Share on"%}{% for share_network in share_networks %}
    <a href='{{share_network.1}}'>{{share_network.0}}</a>
    {% endfor %}{%else%}
    <ul class='share'>
        <li class='share-send'><a class='share_link share_id_{{share_networks.0.0}}{% if email_only %}_single{%endif%}' href='{{share_networks.0.1}}'><img src="{{share_network.0.2}}" alt="{{share_network.0.0}}"/></a></li>
        {% if not email_only %}<li class='share-icon'><a href="#">{% trans "Share" %}</a></li>{% for share_network in share_networks %}
        <li class='shared'><a class='share_link share_id_{{share_network.0}}' href='{{share_network.1}}'><img src="{{share_network.2}}" alt="{{share_network.0}}"/></a></li>
    {% endfor %}
        <li class='shared'><a href='{% url chimere:feeds-global %}'><img src='{{STATIC_URL}}chimere/img/feed.png' alt='Feeds'/></a></li>{%endif%}
    </ul>{% endif %}
    <script type='text/javascript'>
        <!--
        $(function(){
            share_link_update();
        });
        // -->
    </script>
    {% endif %}

