{% load i18n %}
    <div class='edit' id='submited-window'>
<p><strong>Merci pour votre contribution au projet !</strong></p>

<p>En proposant un nouvel élément, vous contribuez à enrichir la carte avec des données libres. Une fois validée, votre contribution sera disponible selon les termes de la licence <a href='https://creativecommons.org/licenses/by-sa/3.0/fr/'>Creative Commons Paternité - Pas d’Utilisation Commerciale 2.0 France</a>. Vous devez être l’auteur des éléments que vous nous faites partager ou  bien vous être assuré de l’accord de leur auteur pour cette mise à disposition. Ceci concerne les textes, photos et tout contenu multimedia.</p>
{% if contact_email %}<p>N’hésitez pas à nous contacter pour toute question : <a href='mailto:{{contact_email}}'>{{contact_email}}</a>.</p>{% endif%}
    </div>
    <script type='text/javascript'>
        <!--
        $(function(){
            $("#submited-window").dialog({
                    modal: true,
                    dialogClass:'no-titlebar-small',
                    width:340,
                    resizable:false,
                    beforeClose: function() {
                                    window.location = "{{index_url}}";
                                 }
                    });
        });
        // -->
    </script>
