{% load i18n sanitize chimere_tags %}
{% if news_lst or welcome_message %}
<script type='text/javascript'>
<!--
$(function(){
    $('#welcome div.media-player').jmeEmbedControls();
    $('#welcome video').each(function(index){$(this).pause()});
    $('#welcome audio').each(function(index){$(this).pause()});
    $("#welcome").dialog({width:826, height:410, dialogClass:'welcome-dialog'
                          {% if not display %}, autoOpen:false{% endif %}});
});
// -->
</script>
<div id='welcome' style='display:none'>
    <div class='title'>
        <h2>{{title}}</h2>
    </div>
    <div id='welcome_message'>
        <div id='welcome_content'>
        {{welcome_message|safe}}
        </div>
    </div>
</div>
<script type='text/javascript'>
<!--
$(function(){
    $('.get_more_information').click(function(){
        $('#welcome').dialog('close');
        $('#news').dialog('open');
        return false;
    });
});
// -->
</script>
{% endif %}
